docx==0.2.4
docx2txt==0.8
keras==3.3.3
langchain==0.2.0
matplotlib==3.8.4
numpy==1.26.4
openai==1.30.1
pandas==2.2.2
plotly==5.22.0
prophet==1.1.5
PyPDF2==3.0.1
pyperclip==1.8.2
python_docx==0.8.11
scikit_learn==1.4.2
seaborn==0.13.2
statsmodels==0.14.2
streamlit==1.34.0
wordcloud==1.9.3
yfinance==0.2.38
